html {
  /* font-family: 'Playfair Display', serif; */
  font-family: 'Raleway', sans-serif;
  background-color: white;
  /* background-image: linear-gradient(to right, #59C9A5, #56E39F, #56E39F, #56E39F, #56E39F, #59C9A5); */
  background-image: linear-gradient(to right, #59C9A5, #62e7a9, #62e7a9, #62e7a9);
  color: #666;
}

header {
  z-index: 999;
  font-family: 'Raleway', sans-serif;
  position: fixed;
  min-width: 100%;
  top: 0;
  left: 0;
}

header a {
  text-decoration: none;
}

a {
  color: #555;
}

div {
  scroll-behavior: smooth;
}

.no-decoration {
  text-decoration: none;
}

.move {
  animation: move 20s ease-in-out infinite alternate;
  width: 125%;
}

.content-link {
  z-index: 999;
}

@keyframes move {
  from {
    transform: translateX(-12.5%);
  }
  to {
    transform: translateX(0px);
  }
}

.playfair {
  font-family: 'Playfair Display', serif;
}

.playfair-heavy {
  font-family: 'Playfair Display', serif;
  font-weight: 900;
}

/* .gradient-bg {
  background-image: linear-gradient(to right, #56E39F, #59C9A5, #59C9A5, #59C9A5, #59C9A5, #56E39F);
} */

.gradient-bg {
  /* background-image: linear-gradient(to right, #59C9A5, #56E39F, #56E39F, #56E39F, #56E39F, #59C9A5); */
  background-image: linear-gradient(to right, #59C9A5, #62e7a9, #62e7a9, #62e7a9);

}

.black-bg {
  background-color: black;
}

.white-bg {
  background-color: white;
}

.grey-bg {
  background-color: #666;
}

.green-bg {
  /* background-color: #1bcf7e; */
  background-color: #18FFA4;
}

.building-bg {
  background-color: #15125d;
}

.walk-bg {
  background-color: #fd9cc4;
}

.banner {
  height: auto;
  text-align: center;
}

.reach-me {
  transition: .2s;
}

.reach-me:hover {
  background-color: #666;
  color: white;
  transition: .2s;
}

.gallery-buttons {

}

.prev-button {
  position: fixed;
  top: 20%;
  bottom: 20%;
  left: 1%;
  transition: .2s;
  width: 2em;
}

.next-button {
  position: fixed;
  top: 20%;
  bottom: 20%;
  right: 1%;
  transition: .2s;
  width: 2em;
}

.prev-button:hover, .next-button:hover {
  color: #666;
  background-color: #333;
  transition: .2s;
}

.pulse {
  max-width: 30%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 1em;
}

.reflect {
  transform: rotate(-90deg);
}

.text {
  /* background-color: white;
  color: #18FFA4; */
  color: white;
}

.big-name {
  color: #666;
}

.grey-text {
  color: #666;
}

.white-text {
  color: white;
}

.black-text {
  color: black;
}

.bodytext {
  font-family: 'Raleway', sans-serif;
  color: #666;
}

.banner-push {
  padding-top: 5em;
}

.full-height {
  height: 100vh;
}

.height-hello {
  height: 100%;
}

.white-bar {
  background-color: white;
  margin-left: -5em;
}

.card-text {
  position: absolute;
  top: 4em;
  bottom: 4em;
  left: 4em;
  right: 4em;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 1;
  transition: .2s;
}

.item:hover .card-text {
  opacity: 0;
  transition: .2s;
}

@media only screen and (min-width: 25em) {

}

@media only screen and (min-width: 38em) {

  .pulse {
    max-width: 60vh;
    margin-left: 0;
    margin-right: 0;
  }

  .reflect {
    transform: rotateY(180deg);
  }

}

@media only screen and (min-width: 42em) {

}

@media only screen and (min-width: 50em) {

}

@media only screen and (min-width: 60em) {

  .banner {
    height: 80vh;
    text-align: right;
  }


}
